<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--  <ion-card class="welcome-card" style="max-height:250px ;">
    <img src="/assets/orange1.png"  alt=""/>
    
  </ion-card>
  <ion-card class="welcome-card" >
    <img src="/assets/free.png" style="max-height:200px ;" alt=""/>
   
  </ion-card>
  <ion-card class="welcome-card">
    <img src="/assets/expresso.jpg" style="max-height:200px ;" alt=""/>
    
  </ion-card>-->
<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/expresso.jpg" style="max-height:200px ;" alt=""/>
    <ion-card-header>
      <ion-card-title style="text-align: center !important;">Expresso yakalma</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="number" [(ngModel)]="numero" [ngModelOptions]="{standalone: true}" placeholder="Numéro téléphone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" [(ngModel)]="montant" [ngModelOptions]="{standalone: true}" placeholder="Montant"></ion-input>
      </ion-item>
      <div style="text-align: center !important;margin-top: 1rem;">
        <ion-button (click)="presentAlert();" color="success">Valider</ion-button>
        <ion-button (click)="reinitialiser()" color="danger">Annuler</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
