.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.myCard {
  max-height:32% !important ;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border-radius: 8px !important;
  -webkit-margin-start:6px !important;
  -webkit-margin-end:5px !important
}
